In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV we saved and created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bethel,US,2021-02-01 00:23:51,41.3712,-73.4140,21.99,53,90,4.61
1,1,Rikitea,PF,2021-02-01 00:23:51,-23.1203,-134.9692,79.43,61,25,6.96
2,2,Baisha,CN,2021-02-01 00:23:51,26.5222,110.9311,50.74,83,77,0.94
3,3,Bluff,NZ,2021-02-01 00:23:51,-46.6000,168.3333,60.84,68,69,8.05
4,4,Naze,JP,2021-02-01 00:21:25,28.3667,129.4833,68.00,52,40,12.66

In [3]:
# Get the datatypes of our dataframe.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

## Create a Maximum Temperature Heatmap

In [4]:
# Configure gmaps to use our Google API Key.
gmaps.configure(api_key=g_key)

In [5]:
# How to avoid the InvalidWeightException
# use a for loop to get the maximum of all values vs 0

#Get the maximum tempterature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
# Adding a center zoom
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Percent Humidity Heat Map.

In [7]:
# Heat map for percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure forward
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Heat Map for percent cloudiness

In [8]:
# Heatmap for percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure forward
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Create a heat map for wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure forward
fig

Figure(layout=FigureLayout(height='420px'))

## Get Vacation Criteria

In [10]:
# Ask the customer their minimum and maximum temp preference.
min_temp = float(input("What is the minimum temperature you would like your trip? "))
max_temp = float(input("What is the maximum temperature you would like your trip? "))

What is the minimum temperature you would like your trip? 75
What is the maximum temperature you would like your trip? 90

In [11]:
# Filter the data set to find the cities that match the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,2021-02-01 00:23:51,-23.1203,-134.9692,79.43,61,25,6.96
5,5,Hobart,AU,2021-02-01 00:20:19,-42.8794,147.3294,75.99,56,75,5.75
7,7,New Norfolk,AU,2021-02-01 00:23:52,-42.7826,147.0587,75.99,48,45,1.99
12,12,Port Hedland,AU,2021-02-01 00:23:16,-20.3167,118.5667,75.20,100,90,21.85
14,14,Butaritari,KI,2021-02-01 00:23:53,3.0707,172.7902,80.94,82,38,12.93
22,22,Vaini,TO,2021-02-01 00:23:54,-21.2000,-175.2000,80.60,89,90,10.36
23,23,Sabang,ID,2021-02-01 00:23:54,5.8933,95.3214,80.73,80,68,20.20
33,33,Hithadhoo,MV,2021-02-01 00:20:21,-0.6000,73.0833,82.17,78,77,12.35
34,34,Alenquer,BR,2021-02-01 00:23:55,-1.9417,-54.7383,77.00,94,0,4.61
35,35,Saint-Philippe,RE,2021-02-01 00:23:55,-21.3585,55.7679,78.80,65,0,8.05

In [12]:
# Determining if any values are null.
preferred_cities_df.count()

City_ID       151
City          151
Country       151
Date          151
Lat           151
Lng           151
Max Temp      151
Humidity      151
Cloudiness    151
Wind Speed    151
dtype: int64

## Map Vacation Criteria

In [13]:
# Create a new dataframe called hotel_df to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1          Rikitea      PF     79.43 -23.1203 -134.9692
5           Hobart      AU     75.99 -42.8794  147.3294
7      New Norfolk      AU     75.99 -42.7826  147.0587
12    Port Hedland      AU     75.20 -20.3167  118.5667
14      Butaritari      KI     80.94   3.0707  172.7902
22           Vaini      TO     80.60 -21.2000 -175.2000
23          Sabang      ID     80.73   5.8933   95.3214
33       Hithadhoo      MV     82.17  -0.6000   73.0833
34        Alenquer      BR     77.00  -1.9417  -54.7383
35  Saint-Philippe      RE     78.80 -21.3585   55.7679

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#### Iterate through the hotel_df Dataframe

In [15]:
# Iterate through the Dataframe. 
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make the request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,79.43,-23.1203,-134.9692,Pension Maro'i
5,Hobart,AU,75.99,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
7,New Norfolk,AU,75.99,-42.7826,147.0587,The Shingles Riverside Cottages
12,Port Hedland,AU,75.20,-20.3167,118.5667,The Esplanade Hotel
14,Butaritari,KI,80.94,3.0707,172.7902,Isles Sunset Lodge
22,Vaini,TO,80.60,-21.2000,-175.2000,Keleti Beach Resort
23,Sabang,ID,80.73,5.8933,95.3214,Hotel Citra
33,Hithadhoo,MV,82.17,-0.6000,73.0833,Scoop Guest House
34,Alenquer,BR,77.00,-1.9417,-54.7383,Josilene Castro
35,Saint-Philippe,RE,78.80,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Add markers.
marker_layer = gmaps.marker_layer(locations)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Adding Descriptions to our markers.

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [19]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))